body{
    margin: auto;
}
.d1{ 
    margin-top: 8%;
    display: flex;
    align-content: center;
    justify-content: center;
}
img{
    height: 30em;
}
.d2{
    font-family: monospace;
    text-align: center;
}